
@font-face {
    font-family: 'Verdana';
    src: url('./fonts/Verdana.woff2') format('woff2'),
        url('./fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/RobotoSlab-Light.woff2') format('woff2'),
        url('./fonts/RobotoSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


.home-portada{
    background-image: url(../images/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100vw;
}

.texto-portada{
    text-transform: none;
    text-align: left;
    font-size: 6rem;
    font-weight: 300;
    margin-left: 10%;
}

.serif-right{
    background-image: url('../images/serifright.png');
    width: 282.804px ;
    height: 377.958px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    color: #25232A !important;
    font-weight: 400;
    font-size: small;
    top:80% !important;
}

.serif-left{
    background-image: url('../images/serifleft.png');
    width: 282.804px ;
    height: 377.958px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    color: #25232A !important;
    font-weight: 400;
    font-size: small;
    top:80% !important;
}

.segunda-seccion{
    background-color: #F1E9E3;
    padding: 0;
    margin: 0;
}

.tercera-seccion{
    padding: 0;
    margin: 0;
    height: 135vh;
    position: relative;
    display: block;
}
.cuarta-seccion{
    width: 100vw;
    height: 2000px;
    padding: 0;
    margin: 0;
}
.quinta-seccion{
    width: 100vw;
    height: 100vh;
}
.sexta-seccion{
    width: 100vw;
    background-color: #F1E9E3;
    height: auto;
    padding-bottom: 60px;
    margin-bottom: 0!important;
}
.septima-seccion{
    width: 110vw;
    background-color: #000000;
    min-height: 125vh;
    height: auto;
    padding-bottom: 60px;
    margin-bottom: 0 !important;
    overflow: hidden;
    max-height: 100vh;
}

.textos-segunda-seccion{
    display: block;
    position: absolute;
    bottom: 30px;
    width: 100vw;
}

.efecto-headline-back{
    top: 0;
    bottom: 0;
    width: 80vw;
    position: absolute;
    height: auto;
    text-decoration: underline;
    z-index: -1;
    color: #EFCFB9;
    p{
        color: #EFCFB9;
    }
}
.efecto-headline-front{
    padding: 0;
    top: 0;
    padding-bottom: 0;
    perspective: 600px;
    -webkit-perspective: 600px;
    display: flex;
    position: absolute;
    height: 100vh;
    width: 80vw;
    align-items: center;
    overflow: hidden;
}
.title{
    font-family: 'Roboto Slab';
    text-align: center;
    font-size: 56px;
    margin-top: 50px;
    margin-bottom: 60px;
    letter-spacing: 1rem;
    font-weight: 300;
    color: #5D5D5D;
    line-height: inherit;
    text-transform: uppercase;
}
.mini-title{
    font-family: 'Verdana';
    text-align: center;
    font-size: 16px;
    letter-spacing: 8px;
    margin-top: 60px;
    margin-bottom: 42px;
    color: #5D5D5D;
    text-transform: uppercase;
}

.super-left-line{
    border-left: 50vw solid #5D5D5D;
    margin-left: -4.5rem;
    margin-top: 24px;
    padding-left: 10px;
    color: #5D5D5D;
    font-size: 24px;
}
.foto-recortada{
    overflow: hidden;
   
    margin: auto;
    margin-bottom: 100px;
}
.texto-team{
    margin-top: 36px;
    margin-bottom: 124px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
}
.cuchuflo-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

//agregar mediaqueries
.back-cuchuflo{
    background-image: url('../images/cuchuflo.svg');
    //width: 100vw; height: 1293.91px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider {
    position: relative;
    padding: 0;
    width: 362px;
    overflow: hidden;
    height: 437px;
    margin: auto;
    margin-bottom: 30px;
}
.slide {
    position: absolute; 
}
.slide1 {
    animation: cycle 12s infinite;
}
.slide2 {
    animation: cycletwo 12s infinite;
}
.slide3 {
    animation: cyclethree 12s infinite;
}
.slide4 {
    animation: cyclefour 12s infinite;
}
.slide5 {
    animation: cyclefive 12s infinite;
}
@keyframes cycle {
    0%  { transform: scale(1.2);} /* When you start the slide, the first image is already visible */
    4%  {  } /* Original Position */
    16% {  opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
    20% {  opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
    21% {  opacity: 0; z-index: -1; } /* Return to Original Position */
    92% {  opacity: 0; z-index: 0; }
    96% {  opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
    100%{  opacity: 1; }
}
 
 @keyframes cycletwo {
    0%  { opacity: 0; transform: scale(1.2);} /* Original Position */
    16% { opacity: 0; }/* Starts moving after 16% to this position */
    20% { opacity: 1;   transform: scale(1);}
    24% { opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
    36% { opacity: 1; z-index: 0; transform: scale(1.2);}   /* From 24% to 36 % = for 3 seconds the image is visible */
    40% { opacity: 0; z-index: 0;} /* From 36% to 40% = for 1 second exit image */
    41% { opacity: 0; z-index: -1; }   /* Return to Original Position */
    100%{ opacity: 0; z-index: -1; transform: scale(1);  }
 }
 
 @keyframes cyclethree {
    0%  { opacity: 0; transform: scale(1.2);}
    36% { opacity: 0;  transform: scale(1); }
    40% { opacity: 1;  transform: scale(1);}
    44% { opacity: 1;   }
    56% { opacity: 1;  transform: scale(1.2);}
    60% { opacity: 0; z-index: 0;}
    61% { opacity: 0; z-index: -1; }
    100% { opacity: 0; z-index: -1; transform: scale(1.2);}
 }
 
 @keyframes cyclefour {
    0%  { opacity: 0; }
    56% { opacity: 0; }
    60% { opacity: 1;  transform: scale(1);}
    64% { opacity: 1;   }
    76% { opacity: 1; z-index: 0; transform: scale(1.2); }
    80% { opacity: 0; z-index: 0;}
    81% { opacity: 0; z-index: -1; }
    100%{ opacity: 0; z-index: -1;  transform: scale(1);}
 }
 @keyframes cyclefive {
    0%  { opacity: 0; transform: scale(1);}
    76% { opacity: 0; }
    80% { opacity: 1; }
    84% { opacity: 1; transform: scale(1);}
    96% { opacity: 1; z-index: 0; }
    100%{ opacity: 1; z-index: 0; transform: scale(1.2);}
 }

 .sec-firstpart {
    height: 200px; 
    text-align: left; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 45VW;
    margin: auto;
    .sec-title{
        font-family: 'Verdana';
        font-weight: 300;
        font-size: 24px;
        display: block;
        width: 100%;
        // margin: 18px;
        color: #5D5D5D;
    }
 }
 .sec-secondpart{
    height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 24px;
    height: 800px; 
    flex-grow: 1;
    position: relative;

 }
 .awardsContainer{
    position: relative;
    height: 50vh;
 }

 #awardsText1, #awardsText2, #awardsText3{
    opacity: 0;
    position: absolute;
    top: 220px;
 }

 #awardsLogo1,#awardsLogo2,#awardsLogo3{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 112px;
 }

 .chambers-text{
    margin: 41px auto;
    max-width: 492px;
    font-family: 'Verdana';
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 7px;
    line-height: 25px;
     .name{
        color:#646464;
        margin-top: 20px;
     }
 }
 .logoanimado{
    position: absolute;
    top:24px;
    left: 24px;
    z-index: 11;
}
.textos-footer{
    text-align: center;
    color: white;
    z-index: 15;
    position: absolute;
    bottom: 120px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    p{
        margin: 0 24px;  
        font-size: 16px;
        font-family: 'Verdana';
        font-weight: 300;
        .title-F{
            display: block;
            margin-bottom: 16px;
            text-transform: uppercase;
        }
        .text-F{
            display: block;
            margin-bottom: 16px;
        }
    }
}

.backAnimado{
    img{
        min-width: 5000px;
        position: absolute;
        top: -50vh;
        left: -35vw;
        z-index: 50;
    }
}

